{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Buy</th>
                <th>Sell</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: Loop through the database entries to display them in this table -->
            {% for stock in stocks %}
            <tr>
                <td>{{ stock.name }}</td>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.shares }}</td>
                <td>
                    <form action="/buy_from_index" method="post">
                        <input style="width:100px;" align="center" autocomplete="off" autofocus class="form-control" name="shares" placeholder="Amount" type="number" min="1">
                        <input type="hidden" name="symbol" value="{{ stock.symbol }}" />
                        <button class="btn btn-primary" type="submit">BUY</button>
                    </form>
                </td>
                <td>
                    <form action="/sell_from_index" method="post">
                        <input style="width:100px;" align="center" autocomplete="off" autofocus class="form-control" name="shares" placeholder="Amount" type="number" min="1">
                        <input type="hidden" name="symbol" value="{{ stock.symbol }}" />
                        <button class="btn btn-primary" type="submit">SELL</button>
                    </form>
                </td>
                <td>{{ usd_function(stock.stock_price) }}</td>
                <td>{{ usd_function(stock.shares * stock.stock_price) }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td colspan="5"></td>
                <td><b>CASH</b></td>
                <td>{{ usd_function(cash) }}</td>
            </tr>

            <tfoot>
                <td colspan="5"></td>
                <td><b>TOTAL</b></td>
                <td>{{ usd_function(total) }}</td>
            </tfoot>

        </tbody>
    </table>
{% endblock %}
