{% extends "network/layout.html" %}

{% block body %}
    <h1>Following's Posts</h1>
    <ul class="list-group">
        {% for post in all_posts %}
        <li class="list-group-item">
            <a href="{% url 'profile_page' username=post.author %}"><h3>{{ post.author }}</h3></a>
            <h5>{{ post.content }}</h5>
            <h6 style="color: gray;">{{ post.timestamp }}</h6>
            <h6>Likes:</h6>
            <h6>Comment</h6>
        </li>
        {% endfor %}
    </ul>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if all_posts.has_previous %}    
            <li class="page-item"><a class="page-link" href="?page={{ all_posts.previous_page_number }}">Previous</a></li>
            {% endif %}
            {% if all_posts.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ all_posts.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}